<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>MLCstudio &raquo; 2005 &raquo; June</title>
	<style type="text/css" media="screen">
		@import url({{ '/assets/style.css' | relative_url }} );
	</style>
	
</head>


<body>

	<div id="rap">
		<div id="headwrap">
			<div id="header">
				<a href="{{ '/' | relative_url }}">MLCstudio</a>
			</div>
			<div id="desc">
				Music Light &amp; Colour . . . . Architecture and Art</div>
		</div>

		<!-- end header -->

		<div id="content">
			{{ content }}
		</div>



		<div class="navigation">
		</div>

		<!-- begin footer -->

	


	<!-- begin sidebar -->
	<div id="sidebar">

		<ul>
			<li id="pages-3" class="widget widget_pages">
				<h2 class="widgettitle">Pages</h2>
				<ul>
					<li class="page_item page-item-2"><a href="{{ '/about' | relative_url }}">About</a></li>
					<li class="page_item page-item-116"><a href="{{ '/blog-list' | relative_url }}">Blog List</a></li>
					<li class="page_item page-item-879"><a href="{{ '/projects' | relative_url }}">Projects</a></li>
					<li class="page_item page-item-965"><a href="{{ '/contact' | relative_url }}">Contact</a></li>
				</ul>
			</li>
			<li id="recent-posts-3" class="widget widget_recent_entries">
				<h2 class="widgettitle">Recent Posts</h2>
				<ul>
					<li>
						<a href="{{ '/833/liddle' | relative_url }}">An Exhibition Space for Artist Peter Liddle</a>
					</li>
					<li>
						<a href="{{ '/777/dominique-perrault' | relative_url }}">In interview with Dominique Perrault</a>
					</li>
					<li>
						<a href="{{ '/1181/railing' | relative_url }}">Railing for Seafront Patio</a>
					</li>
					<li>
						<a href="{{ '/1019/beach-casts' | relative_url }}">Beach Casts</a>
					</li>
				</ul>
			</li>
			<li id="categories-3" class="widget widget_categories">
				<h2 class="widgettitle">Categories</h2>
				<ul>
					<li class="cat-item cat-item-250"><a
							href="{{ '/category/architecture-lecture-reports' | relative_url }}">Architecture Lecture
							Reports</a>
					</li>
					<li class="cat-item cat-item-3"><a href="{{ '/category/art-along-the-rhine' | relative_url }}">Art Along
							the Rhine (RIBA Journal)</a>
					</li>
					<li class="cat-item cat-item-257"><a href="{{ '/category/cities' | relative_url }}">Cities Visits</a>
					</li>
					<li class="cat-item cat-item-286"><a href="{{ '/category/interviews' | relative_url }}">Interviews</a>
					</li>
					<li class="cat-item cat-item-293"><a href="{{ '/category/projects' | relative_url }}">Projects</a>
					</li>
					<li class="cat-item cat-item-74"><a href="{{ '/category/rfah' | relative_url }}">Rising Falling &#8211;
							Always Hoping</a>
					</li>
					<li class="cat-item cat-item-220"><a
							href="{{ '/category/show-openings-riba-journal' | relative_url }}">Show openings (RIBA Journal)</a>
					</li>
					<li class="cat-item cat-item-221"><a
							href="{{ '/category/young-architects-bold-practice' | relative_url }}">Young Architects- Bold
							Practice</a>
					</li>
				</ul>
			</li>
			<li id="linkcat-2" class="widget widget_links">
				<h2 class="widgettitle">Blogroll</h2>

				<ul class='xoxo blogroll'>
					<li><a href="http://olivierleclercq.blogspot.com/" title="French Commentary Site"
							target="_blank">Architecture Positive</a></li>
					<li><a href="http://bricolagemusic.co.uk/" title="Sam Breen&#8217;s Music Blog">Bricolage Music</a>
					</li>
					<li><a href="http://www.amazon.co.uk/Rising-falling-Always-Hoping-Journey/dp/0956196616"
							title="See the preview and buy online" target="_blank">My book on Amazon</a></li>
					<li><a href="http://www.ribajournal.com/blog/"
							title="See my, Hugh Pearman and the other contributors&#8217; blogs on the RIBA Journal Website"
							target="_blank">RIBA Journal &#8211; Behind the Scenes</a></li>

				</ul>
			</li>


		</ul>

	</div>
	<!-- end sidebar -->


	<div id="credit">
		Powered by <a href="http://www.wordpress.org">Wordpress</a> using the theme <a
			href="http://aaron.collectedvisuals.com/web/bbv1/">bbv1</a>
	</div>


	</div>



</body>

</html>
